<h1> О нас </h1>
<p>Ваши дети любят творить? Тогда ВАМ к НАМ!!!</p> 
<p>Опытные педагоги научат Ваших детей мастерить поделки, петь, танцевать,научат играть на гитаре,освоить английский , научат играть в шахматы,рисовать ,с умом и пользой проводить досуг</p>
<p>Наш адрес: г.Казань, ул. Зорге 72</p>
