<h1>Контакты</h1>
<p><a href="https://vk.com/tarheeva">Наталья Тархеева</a> - Педагог студии фом-рукоделия и студию бисероплетения </p>
<p><a href="https://vk.com/id122755160">Ворончихина Наталья</a> - Педагог гитары </p>
<p>Контакт3</p>
<p>Контакт4</p>