<h1>Гитара</h1>
<p>Информация про кружок гитары</p>

	<form action="/guitare" method="POST">
	  <div class="form-group">
		<label for="exampleInputEmail1">Ваше имя</label>
		<input name="name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Ваше имя">
	  </div>
	  
	  <div class="form-group">
		<label for="exampleInputEmail1">Ваша фамилия</label>
		<input name="fam" type="text" class="form-control" id="exampleInputEmail1" placeholder="Ваша фамилия">
	  </div>
	  
	  <div class="form-group">
		<label for="exampleInputEmail1">Ваш номер</label>
		<input name="num" type="number" class="form-control" id="exampleInputEmail1" placeholder="Ваш номер">
	  </div>
	  
	  <div class="form-group">
		<label for="exampleInputEmail1">Когда вам позвонить?</label>
		<input name="date" type="date" class="form-control" id="exampleInputEmail1">
	  </div>
	  <button type="submit" class="btn btn-primary">Записаться</button>
	</form>