<h1>Welcome to my bad site</h1>

<p>
<%= @massage %>
</p>

<p>
</p>

<p>
	<form action="/" method="POST">
	Your login
	<input type="text" name="user_name"/> </br>
	Your password
	<input type="password" name="password"/>
	<input type="submit"/> 
	</br>
	</form>
	
	<form action="/reg">
		<button type="submit">Registration</button>
	</form>
</p>