<h1>Registration</h1>

<p>
<%= @massage2 %>
</p>

<p>
</p>

<p>
	<form action="/reg" method="POST">
	Enter login
	<input type="text" name="user_name"/> </br>
	Enter password
	<input type="password" name="password"/>
	<input type="submit"/> </br>
	</form>
	
	
</p>