<form action="/singup" method="POST">
	  <div class="form-group">
		<label for="exampleInputEmail1">Выберите предмет</label>
		<select name="type" type="text" class="form-control" placeholder="Выберите предмет">
			<option>Гитара</option>
			<option>Вокал</option>
			<option>Бисероплетение</option>
			<option>Вязание</option>
			<option>ИЗО</option>
			<option>Актер-маст</option>
			<option>Английский</option>
			<option>Тестопластика</option>
			<option>Фоамиран</option>
			<option>Хореография</option>
			<option>Шахматы</option>
			<option>Умный уикенд</option>
		</select>
	  </div>
	  
	  <div class="form-group">
		<label for="exampleInputEmail1">Ваше имя</label>
		<input name="name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Ваше имя" value="<%= @name%>">
	  </div>
	  
	  <div class="form-group">
		<label for="exampleInputEmail1">Ваша фамилия</label>
		<input name="fam" type="text" class="form-control" id="exampleInputEmail1" placeholder="Ваша фамилия" value="<%= @fam%>">
	  </div>
	  
	  <div class="form-group">
		<label for="exampleInputEmail1">Ваш номер</label>
		<input name="num" type="number" class="form-control" id="exampleInputEmail1" placeholder="Ваш номер" value="<%= @num%>">
	  </div>
	  
	  <div class="form-group">
		<label for="exampleInputEmail1">Когда вам позвонить?</label>
		<input name="date" type="date" class="form-control" id="exampleInputEmail1">
	  </div>
	  <button type="submit" class="btn btn-primary">Записаться</button>
	</form>